<div class="display-table top_margin">
  <a href="{{ settings.desktopwomen_link }}" > 
    <img src="{{'desktopwommen.png' | asset_url }}" class="img-responsive" />
  </a>
</div>
{% comment %}
<div class="display-table top_margin">

  <div  class="col2 women_section">
    <div class="text-center">
      <div class="img_margin_top"><img src="{{ 'womens.png' | asset_url }}" alt="" class="img-responsive" /></div>
      <!--       <a href=""><h1 class="men_h">women</h1></a> -->
      <p class="men_p">top streetweat and exclusive designs, featuring:</p>
      <p class="men_p2">obey, pop funk, mitchel + ness, pink dolphin, and more</p>
    </div>

    <div class="text-center desk_two_padding">
      <div class="inline_block">
        <div class="display-table-cell">
          <a href="{{ settings.desktop_i4 }}" class="men_img1 pull-left"> <img src="{{ 'desktop_i4.jpg' | asset_url }}" alt="{{ shop.name }}" class="img-responsive"></a>
        </div>
        <div class="display-table-cell"><div class="right_border"></div></div>
        <div  class="display-table-cell">
          <a href="{{ settings.desktop_i5 }}" class="men_img2 pull-left"> <img src="{{ 'desktop_i5.jpg' | asset_url }}" alt="{{ shop.name }}" class="img-responsive"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col1">
    <a  href="{{ settings.desktop_i6 }}">
      <img src="{{ 'desktop_i6.jpg' | asset_url }}" alt="{{ shop.name }}" class="img-responsive">
    </a>
  </div>
</div>
{% endcomment %}
