<div class="two_img_main">
  <div class="two_img_child">
    <a href="{{ settings.mobilebanner1 }}">
      <img src="{{ 'men.jpg' | asset_url }}" alt="{{ shop.name }}" class="img-responsive" style="width:100%;" />
    </a>

  </div>
  <div class="two_img_child">
    <a href="{{ settings.mobilebanner2 }}">
      
      <img src="{{ 'women.jpg' | asset_url }}" alt="{{ shop.name }}" class="img-responsive" style="width:100%;"/></a>
  </div>
</div>
<div class="text_center margin_top">
  <h3 class="insta_h">#JOHNNYTHREADS</h3>
  <p class="insta_p">FOLLOW + TAG US ON INSTAGRAM</p>

  <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/50b90e9c9ae7590e83d4445e63555a2a.html" id="lightwidget_50b90e9c9a" name="lightwidget_50b90e9c9a"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
  
</div>

<br/><br/><br/>
