<div class="two_img_main">
  <div class="two_img_child">
    <a href="{{ settings.mobilebanner1 }}">
      <img src="{{ 'men.jpg' | asset_url }}" alt="{{ shop.name }}" class="img-responsive" style="width:100%;" />
    </a>

  </div>
  <div class="two_img_child">
    <a href="{{ settings.mobilebanner2 }}">
      
      <img src="{{ 'women.jpg' | asset_url }}" alt="{{ shop.name }}" class="img-responsive" style="width:100%;"/></a>
  </div>
</div>
<div class="text_center margin_top">

{% section 'instafeed' %}
</div>
